/* holiday styling to make them stand out in the calendar */
.holiday {
	background-color: #f8f9fa !important;
	border-left: 4px solid #ffc107 !important;
}

.holiday-CO {
	border-left-color: #e55353 !important;
}

.holiday-US {
	border-left-color: #17a2b8 !important;
}

