:host {
  display: contents;
}

.modal-backdrop {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(15, 23, 42, 0.7);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 99999 !important;
}

.modal-content {
  background: #fff;
  color: black;
  padding: 2rem;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  z-index: 100000;
  position: relative;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

button:first-child {
 background: linear-gradient(180deg, #800202, #b90a0a);
  color: #fff;
}

button:first-child:hover {
  background: linear-gradient(180deg,  #d63030, #ff4d4d);
  color: #fff;
}


button:last-child {
  background: #444;
  color: #fff;
}

button:last-child:hover {
  background: #afafaf;
  color: #fff;
}

/* ===== DARK MODE SUPPORT ===== */
:host-context(.dark) .modal-content {
  background: #1e293b;
  color: #f1f5f9;
}