
<nav class="sidebar" [class.collapsed]="collapsed">
  <!-- <button class="sidebar-toggle" (click)="toggle()" aria-label="Toggle menu"> -->
  <!-- </button> -->

  <!-- <div class="sidebar-section">
    <button class="sidebar-item" routerLink="/tasks" routerLinkActive="active">
      <span class="icon">🧾</span>
      <span class="text">TASKS</span>
    </button> -->
 <div class="sidebar-label">RECORDED TIMES</div>
 <div class="sidebar-section"> 
    <button class="sidebar-item" routerLink="/report-hours" routerLinkActive="active">
      <app-clock-icon [size]="25"></app-clock-icon>
      <span class="text">HOURS LOG</span>
    </button>


    <button class="sidebar-item" routerLink="/tasks" routerLinkActive="active">
      <!-- <span class="icon">📅</span> -->
       <app-calendar-icon [size]="25"></app-calendar-icon>
      <span class="text">SCHEDULE</span>
    </button>
  </div>

    <button class="sidebar-item" routerLink="/estimated-hours" routerLinkActive="active">
      <!-- <span class="icon">⏱️</span> -->
     <app-timer-icon [size]="28"></app-timer-icon>
      <span class="text">ESTIMATED HOURS</span>
    </button>
  <!-- <div class="sidebar-label">ANALYZE</div>

  <button class="sidebar-item" routerLink="/dashboard" routerLinkActive="active">
    <span class="icon">📊</span>
    <span class="text">DASHBOARD</span>
  </button>

  <button class="sidebar-item has-child">
    <span class="icon">📈</span>
    <span class="text">REPORTS</span>
    <span class="arrow">›</span>
  </button> -->

  <div class="sidebar-label">MANAGE</div>

  <button class="sidebar-item" routerLink="/proyectos" routerLinkActive="active">
  <app-file-icon [size]="25"></app-file-icon>
    <span class="text">PROJECTS</span>
  </button>

  <!-- <button class="sidebar-item" routerLink="/kiosks" routerLinkActive="active">
    <span class="icon">🏢</span>
    <span class="text">KIOSKS</span>
  </button> -->

  <button class="sidebar-item" routerLink="/team">
<app-team-icon [size]="25"></app-team-icon> <span class="text">TEAM</span>
</button>
</nav>