<div class="filters-container">
  <div class="filters-card">
    <div class="filter-row">

      <!-- YEAR -->
      <div class="filter-item select">
        <label class="visually-hidden">Year</label>
        <select
          [ngModel]="filters.year"
          (ngModelChange)="filters.year = $event; applyFilters()">
          <option [ngValue]="null">🗓️ All Years</option>
          <option *ngFor="let y of availableYears" [ngValue]="y">20{{ y }}</option>
        </select>
      </div>

      <!-- SEARCH -->
      <div class="filter-item search">

        <label class="visually-hidden"> Search</label>

        <label class="visually-hidden">Hola mundo!</label>

        <input
          type="text"
          placeholder="Search project for name, code or client"
          [ngModel]="filters.searchText"
          (ngModelChange)="filters.searchText = $event; applyFilters()"
        />
      </div>

      <!-- MY PROJECTS -->
      <div class="filter-item">
        <label>
          <input
            type="checkbox"
            [ngModel]="filters.myProjectsOnly"
            (ngModelChange)="filters.myProjectsOnly = $event; applyFilters()"
          />
          📌 My assigned projects
        </label>
      </div>

      <!-- ONLY MY REPORTS -->
      <ng-container *ngIf="isAdminOrOwner">
        <div class="filter-item" >
        <label>
          <input
            type="checkbox"
            [ngModel]="filters.onlyMyReports"
            (ngModelChange)="filters.onlyMyReports = $event; applyFilters()"
            />
            📝 Only my reports
          </label>
        </div>
      </ng-container>

      <!-- ADMIN: Filtrar por empleado -->
      <ng-container *ngIf="isAdminOrOwner">
        <div class="filter-item select">
          <select class="employee-filter"
            [ngModel]="filters.selectedEmployeeId"
            (ngModelChange)="filters.selectedEmployeeId = $event; applyFilters()"
            [disabled]="!employees || employees.length === 0">
            <option [ngValue]="undefined">👥 All employees</option>
            <option *ngFor="let emp of employees" [ngValue]="emp.id">{{ emp.name }}</option>
          </select>
        </div>
      </ng-container>



      <!-- CLEAR FILTERS (global) -->
      <!-- <div class="filter-item actions"> -->
        <!-- <button type="button" class="btn ghost clear-btn" (click)="resetFilters()">
          Filter reset
        </button> -->
        <button type="button" class="btn-clear-filters" (click)="resetFilters()">Clear filters</button>
      <!-- </div> -->

    </div>
  </div>
</div>