.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  color: black;
  padding: 2rem;
  border-radius: 8px;
  min-width: 300px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

button:first-child {
 background: linear-gradient(180deg, #023280, #1752b1);
  color: #fff;
}

button:first-child:hover {
  background: linear-gradient(180deg,  #1d6eb9, #389fe4);
  color: #fff;
}


button:last-child {
  background: #444;
  color: #fff;
}

button:last-child:hover {
  background: #afafaf;
  color: #fff;
}
