
.btn-open[data-tooltip]::after {
	content: attr(data-tooltip);
	position: absolute;
	bottom: -60px;
	left: 50%;
	transform: translateX(-50%) translateY(10px);
	background: #363232;
	color: white;
	padding: 8px 12px;
	border-radius: 8px;
	font-size: 13px;
	font-weight: 500;
	opacity: 0;
	white-space: nowrap;
	pointer-events: none;
	transition: opacity .3s ease;
	z-index: 9999;
    transition: all 0.25s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    
}

.btn-open:hover::after {
	opacity: 1;
}
